.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    flex-direction: column;
    gap: 10px;
}
.auth-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 2px;
}
